body {
  color: rgb(119, 119, 119);
}

.sidebar {
  left: 500px;
  width: 150px;
  padding: 2em 0px;
}

.mainContent {
  margin: 0.75em 0.5em;
}

.label-mark {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}

$daily-color: #ffc94c;
$weekly-color: #4d85d1;
$fortnightly-color: #d19dcb;
$monthly-color: #40c365;
$other-color: #8156a7;
$twitter-color: #5AB4C8;
.nav-updated-helper {
  text-align: center;
  padding: 5px 0;
  display: none;
}

.pure-button-warning {
  margin: 0 auto;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(223, 117, 20);
}

.site-updated-label-daily {
  @extend .label-mark;
  background: $daily-color;
}

.site-updated-label-weekly {
  @extend .label-mark;
  background: $weekly-color;
}

.site-updated-label-fortnightly {
  @extend .label-mark;
  background: $fortnightly-color;
}

.site-updated-label-monthly {
  @extend .label-mark;
  background: $monthly-color;
}

.site-updated-label-other {
  @extend .label-mark;
  background: $other-color;
}

.site-updated-label-unchecked {
  @extend .label-mark;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

.site-rss {
  margin-left: 0.3em;
  img {
    width: 24px;
    vertical-align: middle;
  }
}

.site-keyword {
  margin: 0px 0.1em;
  padding: 0.3em 1em;
  color: rgb(255, 255, 255);
  background: none repeat scroll 0% 0% #008899;
  font-size: 80%;
}

.table-header-label {
  padding: 0.5em;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.pure-table thead {
  background: rgb(14, 144, 210);
  color: rgb(255, 255, 255);
}
