body {
  color: rgb(119, 119, 119);
}

.sidebar {
  margin: 1em 0 0 1em;
}

.nav-updated-helper {
  text-align: center;
  padding-top: (6px * 1.5);
  display: none;
}

.pure-button-warning {
  margin: 0 auto;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(223, 117, 20);
}

.js-filer-updated .pure-menu-heading {
  margin-top: 0;
  padding-top: 6px;
  padding-bottom: 5px;
  font-size: 100%;
}

.label-mark {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}

$daily-color: #ffc94c;
$weekly-color: #4d85d1;
$fortnightly-color: #d19dcb;
$monthly-color: #40c365;
$other-color: #8156a7;
$twitter-color: #5AB4C8;

.site-updated-label-daily {
  @extend .label-mark;
  background: $daily-color;
}

.site-updated-label-weekly {
  @extend .label-mark;
  background: $weekly-color;
}

.site-updated-label-fortnightly {
  @extend .label-mark;
  background: $fortnightly-color;
}

.site-updated-label-monthly {
  @extend .label-mark;
  background: $monthly-color;
}

.site-updated-label-other {
  @extend .label-mark;
  background: $other-color;
}

.site-updated-label-unchecked {
  @extend .label-mark;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}

.github-label img {
  margin-right: 0.3em;
  vertical-align: (- percentage((1.5em - 1em) / 1em) / 2); // `1.5em` is `line-height` value
}

.mainContent {
  margin: 1em;
}

.pure-table thead {
  background: rgb(14, 144, 210);
  color: rgb(255, 255, 255);
}

.table-header-label {
  padding: 0;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.site-rss {
  margin-left: 0.3em;
  img {
    width: 24px;
    vertical-align: (- percentage((1.5em - 1em) / 1em) / 2);
  }
}

.site-keyword {
  padding: 0 0.5em;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: #008899;
  font-size: 80%;
}
